html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

body {
    // font-family: 'Amatic SC', cursive;
   font-family: 'Verdana';
   background-color: #FFFFF5;
}
.borderBottom {
  padding: 5px 0;
  border-bottom: 1px solid grey;
}
.pageTitle {
 text-align: center;
 text-transform: uppercase;
 margin: 15px auto;
 font-size: 25px;
}

.addNew {
  text-align: center;
 text-transform: uppercase;
 margin: 15px auto;
 font-size: 18px;
}
.input-s {
  // margin-bottom: 16px;
}
.input-title {
  width:90%;
}

.buttons {
  // width: 120px;
  padding-right: 2px;
  display: flex;
flex-wrap: wrap;
// margin: 0 auto;
justify-content: flex-end;
}
.detail, 
.remove {
  margin: 0 5px;
}
.textareaNewPost {
  width: 90%;
  height: 120px;
}
.inputButton {
  float: right;
  margin-right: 10%;
}
.postList {
  margin-top:25px;
  margin-bottom: 30px;
}
.col-1 {
  width: 8.33%; }
.col-2 {
  width: 16.66%; }
.col-3 {
  width: 25%; }
.col-4 {
  width: 33.33%; }
.col-5 {
  width: 41.66%; }
.col-6 {
  width: 50%; }
.col-7 {
  width: 58.33%; }
.col-8 {
  width: 66.66%; }
.col-9 {
  width: 75%; }
.col-10 {
  width: 83.33%; }
.col-11 {
  width: 91.66%; }
.col-12 {
  width: 100%; }

.myRow {
width: 100%;
max-width:800px;
display: flex;
flex-wrap: wrap;
margin: 0 auto;
justify-content: center;
align-items: center;
}
.myRowAddNew {
width: 100%;
max-width:800px;
display: flex;
flex-wrap: wrap;
margin: 0 auto;
justify-content: center;
// align-items: center;
}
.myRow1 {
// width: 100%;
// max-width:800px;
display: flex;
flex-wrap: wrap;
margin: 0 auto;
// justify-content: flex-end;
flex-direction: column;
// align-items: center;
}

